<header>
    <div class="container">
        <h1 class="logo">Expats Guide Malta</h1>
        <nav>
            <div class="hamburger">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/workpermit">Work Permit</a></li>
                <li><a href="/touristinfo">Tourist Info</a></li>
                <!-- <li><a href="/tax.html">Tax Information</a></li> -->
                <li><a href="/skillcard">Skillcard</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/faq">FAQ</a></li>

            </ul>
            
        </nav>
    </div>
</header>