 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2C5F2D;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #fff;
    font-size: 1.6em;
    padding: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 1em;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 0.25rem 0;
    margin-left: 0.6rem;
    border-bottom: 0.25rem solid transparent;
}

nav a:hover {
    border-bottom-color:rgba(255,255,255,0.5);
}


nav ul.nav-links {
    transition: 1s;
}
.active{
    font-weight: 600;
    
}

.container {
    width: 90%;
    margin: auto;
}
/* <.........Footer...........> */
 footer .footer {
    background-color:#2C5F2D;
    color: white;
    text-align: center;
    padding: .5em 0;
    bottom: 0;
    width: 100%;
    font-size: 1em;
}
.error{
    text-align: center;
    font-size: 16px;
    color: red;
    height:25px;
    width:80%;
    background-color: rgba(253, 92, 119, 0.781);

}
.success{
    text-align: center;
    font-size: 25px;
    color: green;
    height:15px;
    width:80%;
}



.dropbtn {
    display:inline-block;
    border: none;
    cursor: pointer;
  
  }
 
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: none;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover:focus {background-color: #97BC62;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
@media (max-width: 600px) {
    header .container {
        flex-direction: row;
        justify-content:space-between;
    }
    
    /* .dropbtn {
        display:inline-block;
        cursor: pointer;
      
      }
      .fa-solid{
        font-size: 20px;
        padding-top: 0px;
        margin-top: 0px;
        padding-right: 0px;
        margin-right: 0px;
       
      }
      nav{
        display: none;
      }
     
      .dropdown {
      
        display:inline-block;
        position: relative;
       
      }
      .dropdown-content{
        position: absolute;
      }
   */
   .dropdown {
      
    display:inline-block;
    position: relative;
   
  }
   
     
   nav{
    display: none;
  }
  .fa-solid{
    font-size: 20px;
    padding-top: 0px;
    margin-top: 0px;
    padding-right: 0px;
    margin-right: 0px;
    color: black;
   
  }
}