
<% layout('layout/boilerplate') -%>
<% block('head').append('<link crossorigin="anonymous" rel="stylesheet" href="../stylesheet/styles.css">') %>

    <%- include('partials/navbar') %>
    <main>
        <div class="container">
            <h1 class="licence-header">Obtaining Your Driving Licence</h1>
            <section class="licence">
                
                <div class="driving-col-1">
                    <h3>Stages To obtain a Driving Licence</h3>
                <p>Identify an Instructor</p>
                <p>Apply for a Learner’s Permit</p>
                <p>Apply for the Theory Test</p>
                <p>Start Learning</p>
                <p>Apply for the Practical Test</p>
                </div>
                <div class="driving-col-2">

                
                <div>
                    <h3>Know Your Fees </h3>
            <p>Learner’s Permit- </p>
            <p>medical Fitness Test (Dr)- </p>
            <p>Driving Theory Test- </p>
            <p>Driving Theory Test Resit- </p>

            <p>Driving Practical Test Mon-Frd (Transport Malta Fees)- </p>
            <p>Driving Practical Test Driving School Fees- </p>
            <p>Driving Practical Test -Sat(Transport Malta Fees)- </p> 
            <p>Change Of Driving School- </p>
        </div>
        <div class="fees">
            <h3>Fees</h3>
            <p>€23.25</p>
            <p>€20 to €30</p>
            <p>€30.25</p>
            <p>€22.50</p>
            <p>€23.25</p>
            <p>€40 to €70</p>
            <p>€40</p>
            <p>Free</p>

        </div>

                </div>
               
            </section>

        <h2>Identify an Instructor</h2>
<p>The first step is to identify someone to train you. This can either be through a Licensed Motoring School, or a non-licensed Driving Instructor.</p>

<p>A non-licensed Driving Instructor must :</p>
<ul>
    
    <li>Be at least 25 years old</li>
    <li>Be in possession of a valid driving licence, covering the category being instructed for at least five years;</li>
    <li>Be in possession of insurance endorsement coverage</li>
</ul>



<p>The Vehicle to be used for the purpose of instructing the learner driver shall:</p>

<p>be covered by an appropriate insurance and meets all technical requirements.</p>
<p>have affixed to the front and rear, the letter ’L’ in red on a white background.</p>

<h2>Apply for a Learner’s Permit</h2>
<p>The first stage to obtain your licence is that you would require a Learner’s Permit allowing you to start your training on the road with an authorised instructor. The requirements for Standard Licences are - Categories A1, A2, A, B1, B and BE are :</p>
<ul>
    <li>Pay a fee of €23.25 ;</li>
    <li>Undergo a medical fitness test, as specified on the appropriate form (DRV001 or DRV002);</li>
    <li>Application endorsed by the licensed or non-licensed Driving Instructor;</li>
    <li>Submit a recent photograph;</li>
    <li>Submit a copy of the Residence card.</li>
</ul>






<p>For all clients in possession of another foreign driving licence the attached DRV029 form is necessary to be filled.</p>
<p>Any EU/ Swiss/ Australian driving licence holders shall need to go through the Exchange of Licence INTERNE LINK process prior to applying.</p>
<p>Any third country driving licence holders shall need to complete the DRV029 declaration process at application stage before the issuance of the Maltese Driving Licence can be finalized.</p>

<h2>Applying for the Theory Test</h2>

<p>The requirements to apply to sit for the Theory Test are:</p>
<ul>
    <li>Must be at least 18 years old;</li>
    <li>In possession of a Learner’s Permit</li>
    <li>Pay a fee of €30.25;</li>
    <li>Present ID card before sitting for the test.</li>
</ul>






<p>To book an appointment, candidates may call the Theory Test Centre on 21227190 or 27227190 or place an appointment via the following link https://maltatheorytest.com </p>

<p>The Theory Test Centre is now located at Gwardamangia Hill, Pieta</p>

<p>The subjects covered are defined in the Fourth Schedule of the Regulations. The test, which takes 45 minutes, is made up of 35 multiple choice questions and you need to answer 30 correctly to pass the test. Those passing the test will be given a certificate indicating a pass.</p>

<p>This Theory Test Question bank (English) is available here :</p>
<ul class="driving-categories">
    <li><a href=""> (Categories B etc.)</a></li>
    <li><a href="">Motorcycles (Categories A etc.)</a></li>
    <li><a href="">Large Goods Vehicles (Categories C1 and C)</a></li>
    <li><a href="">Large Goods Vehicles with Trailer (Categories C1E and CE)</a></li>
    <li><a href="">Passenger Vehicles (Categories D1 and D)</a></li>
</ul>


<h2>Applying for the Practical Test</h2>
<p>
Once the training has been completed, you can apply for the Practical Test at the Authority’s offices. You shall need the following:</p>

<p>Once this application is submitted, the Authority will schedule the test as close as four weeks from the submittal date, therefore you must be ready to sit for the Practical Test upon submitting the application. The Authority will schedule candidates on a first come first serve basis, and a notification of the test date and time will be sent directly to you and copied to the Motoring School.</p>

<p>The minimum requirement of 185 days residency (in cases where the issue date of the Identity / Residence Card are issued after this period) can be proven by providing any of the following for consideration of the Authority;</p>

<p>Candidates failing to attend for the test, will be recorded as absent, will lose their slot, and will need to re-apply, and pay the €23.25 fee.</p>


</div>
    </main>
    <footer>
        <div class="footer">
            <p>&copy; 2024 Expats in Malta. All rights reserved.</p>
        </div>
    </footer>
    <script src="../javascript/index.js"></script>
    <!-- <script src="../index.js"></script> -->
