
<% layout('layout/boilerplate') -%>
<% block('head').append('<link crossorigin="anonymous" rel="stylesheet" href="../stylesheet/styles.css">') %>

    <%- include('partials/navbar') %>
    <main>
        <section id="family-visa">
            <div class="container visa">
                <div class="family-visa">
                    <div>               
                        <h1>Family Reunification Visa Malta</h1>
                        <p>If you want to join your family members staying in Malta and you are a citizen from a country outside the EU/EEA/Switzerland, you will need to apply for a Malta family visa. However, before applying, you must meet some of the requirements mentioned below. </p></div>
                

<article>
<h3>Who Needs a Family Visa for Malta?</h3>
<p>All non-EU//EEA/Swiss citizens must apply for family reunification before they can join a family member who is living in Malta. You can apply for a family visa if you are:</p>
<ul>
    <li>The spouse (over 21 years of age) who is legally married to a partner staying in Malta.</li>
    <li>The minor child (biologic or adopted) of a parent living in Malta.</li>
    <li>The adult child (biologic or adopted) who is financially dependent on a parent living in Malta. </li>
    
</ul>
<h3>How to Apply for a Malta Family Visa?</h3>
<p>To apply for family reunification, your family member (sponsor) who is in Malta must make an application to the Identity Malta Agency. At the time of application, you must be outside Malta. If the application is approved, you will receive a confirmation letter from the Head of Unit of IMA, which then enables you to travel to Malta where you must apply for a residence permit. </p>

<p>If you typically need a Schengen visa to enter Malta, you have to apply for a Malta long-stay visa for family reunification. This visa allows you to enter Malta and submit the application for a residence permit. </p>

<h3>Required Documents for a Malta Family Visa</h3>
<p>The documents required for family reunification in Malta are as follows:</p>
<ul>
    <li>Application form Form C/ 22 (Non-EU). Your sponsor has to fill out a copy for each family member.</li>
    <li>A cover letter. The letter must explain that the sponsor has been living in Malta for the last two years. If the sponsor has not been living in Malta for two years, the application will be further reviewed individually.</li>
    <li> Sponsors residence permit</li>
    <li>Proof that your sponsor intends to become a permanent resident in Malta.</li>
    <li>Proof of your relationship to the sponsor. This can be as follows, depending on the relationship type:</li>
    <ul>
        <li>Marriage certificate</li>
        <li>Birth certificate</li>
        <li>Adoption papers</li>

    </ul>
    
</ul>

<p> that the sponsor has enough space to house you. An architect must issue an attestation confirming that the space of you housing unit is sufficient for all members of the family.</p>
<p></p>Proof your sponsor receives a stable and sufficient income.
<p></p>Copies of the passports of all family members.
<div>
<p>Notes:</p>

All the documents submitted have to be in Maltese or English. You must have them translated by a registered translator in Malta.

When your family member applies for the letter of confirmation in Identity Malta Agency, they may submit legalized or apostilled copies of the documents listed above (in case they cannot submit the originals). Then, when you arrive in Malta, you submit the originals of those documents when you apply for the residence permit.
</div>
<h3>After You Enter Malta</h3>
<p>
After you obtain the letter of confirmation and enter Malta, you must apply for a Malta temporary residence permit within the first three months of your arrival. You must submit the CEA Form G (Application for a residence permit for family reunification for non-EU nationals) and Form ID 1A (Foreigners identity registration form) at the office of Identity Malta Agency. You also have to submit all the above-mentioned documents and the confirmation letter which was issued by the Head Unit.</p>
<p>EU/EEA/Switzerland citizens do not need a residence permit; they must just apply for a registration certificate at the local authorities within three months after entering Malta. </p>

<p>Cost of Malta Family Reunion Permit</p>
<p>
When you apply for a Malta residence permit for family reunification, you have to pay a fee of €27.50. If you also have to apply for a national family visa at the Malta embassy in your country, you also have to pay a fee of €100. </p>

<p>Keep in mind that these are only the processing fees, and you will likely have additional costs related to the document – legalization, translation, etc.</p>

<h3>Malta Family Visa Processing Time</h3>
<p>
The application for family reunification in Malta takes a maximum of nine months. After this, you can enter Malta and apply for a residence permit.

If you must also apply for a national visa at the Maltese embassy in your country of residence, it may take an additional two weeks until the visa processes.</p>

<h3>How Long Can I Stay in Malta With a Family Visa?</h3>
<p>The residence permit for family reunification in Malta is issued for one year. After that time, you can apply for an extension of your residence permit, if you still meet the same requirements.  </p>

<h3>Can I Work in Malta With a Family Visa? </h3>
<p>Yes, you can. If you hold a residence permit for family reunification while staying in Malta, you can work and create your own business. </p>

<h3>Can I Study in Malta With a Family Visa?</h3>
<p>You can study in Malta with a family visa. This type of visa will allow you to stay, work and study in Malta for one year. You may also extend your visa if needed.  </p>
</article>
</div>
        </section>

        
    </main>
    <footer>
        <div class="footer">
            <p>&copy; 2024 Expats in Malta. All rights reserved.</p>
        </div>
    </footer>
    <!-- <script src=""></script> -->
