
<% layout('layout/boilerplate') -%>
<% block('head').append('<link crossorigin="anonymous" rel="stylesheet" href="../stylesheet/styles.css">') %>
<body>
    <%- include('partials/navbar') %>
    <main>
        <div class="container get-qualified">
            <h2>What's Get Qualified Scheme</h2>
            <div>
                <h3>Overview</h3>
                <p>
GET QUALIFIED is an initiative that supports the personal development of individuals for the achievement of qualifications and certifications required by industry. 
The incentive is applicable to individuals following a course of studies leading to a certification, diploma, degree or post-graduate degree courses. Upon successful completion the student will benefit from a tax credit enabling them to recover part of the costs incurred.
</p>
<h3>What you'll get</h3>
<p>
The tax credit granted to successful students will be of 70% of the eligible costs yet the
maximum value of tax credits will be capped in relation to the MQF level of the
qualification as specified in the incentive guidelines. </p>

<h3>Eligibility</h3>
<p>
Students who have obtained a qualification at MQF Level 3 and 4 (vocational studies only), and MQF Level 5 to 8 and non-level rated courses required for industry.
</p>
<h3>How to apply</h3>
<p>
In order to benefit from tax credits in-line with the scheme guidelines, students need to follow the below procedure for application:

Check if the course being pursued is in list of approved courses that can be viewed <a href="https://getqualified.maltaenterprise.com/Courses/Index">Click here</a> </p>
<p>If the course is already in approved list, students may opt to register themselves by accessing the portal by clicking <a href="https://getqualified.maltaenterprise.com/Account/Register">Click here</a> or through an institute, where applicable.</p>
<p>Once registered, students will receive a username and password enabling them to access the online system, submit and manage their application. </p>
<p>Following registration, students are reminded that they are still required to submit their application, in line with the Incentive Guidelines</p>
<p>If the course is not available in approved list, students should <a href="https://getqualified.maltaenterprise.com/Account/Login?ReturnUrl=/">Click here</a> to apply to be considered for eligibility under the scheme.
                </p>

        </div>
    </div>


    </main>
    <footer>
        <div class="footer">
            <p>&copy; 2024 Expats in Malta. All rights reserved.</p>
        </div>
    </footer>
    <script src="../javascript/index.js"></script>

