<% layout('layout/boilerplate') -%>
<% block('head').append('<link crossorigin="anonymous" rel="stylesheet" href="../stylesheet/popular.css">') %>
<% block('head').append('<link crossorigin="anonymous" rel="stylesheet" href="../stylesheet/navbar.css">') %>
<body>
    <%- include('partials/navbar') %>
    <main>
        <section class="popularpages">
            <div class="container">
                <h1>Most Common pages</h1>
                <div class="row">
                <div class="pages">
                    <img src="../0ce6430717fa9fcba5e5501fb6f74ed0b541b1bb-1673893347-67fe13ef-960x640.jpeg">
                     <a href="" >Malta Work Visa and Permit</a>
                </div>
                <div class="pages">
                    <img src="../0ce6430717fa9fcba5e5501fb6f74ed0b541b1bb-1673893347-67fe13ef-960x640.jpeg">
                     <a href="">Malta Work Visa and Permit</a>
                </div>
                <div class="pages">
                    <img src="../0ce6430717fa9fcba5e5501fb6f74ed0b541b1bb-1673893347-67fe13ef-960x640.jpeg">
                     <a href="">Malta Work Visa and Permit</a>
                </div>
                <div class="pages">
                    <img src="../0ce6430717fa9fcba5e5501fb6f74ed0b541b1bb-1673893347-67fe13ef-960x640.jpeg">
                     <a href="">Malta Work Visa and Permit</a>
                </div>
                <div class="pages">
                    <img src="../0ce6430717fa9fcba5e5501fb6f74ed0b541b1bb-1673893347-67fe13ef-960x640.jpeg">
                     <a href="">Malta Work Visa and Permit</a>
                </div>
                <div class="pages">
                    <img src="../0ce6430717fa9fcba5e5501fb6f74ed0b541b1bb-1673893347-67fe13ef-960x640.jpeg">
                     <a href="">Malta Work Visa and Permit</a>
                </div>
            </div>
            </div>

        </section>
    </main>