
<% layout('layout/boilerplate') -%>
<% block('head').append('<link crossorigin="anonymous" rel="stylesheet" href="../stylesheet/navbar.css">') %>
<% block('head').append('<link crossorigin="anonymous" rel="stylesheet" href="../stylesheet/skillcard.css">') %>


    <%- include('partials/navbar') %>
    <div class="container skillcard-container">
        <div class="left-column">
            <ul>
                <li><a href="#" data-content="what-is-skillcard">What is a Skillcard?</a></li>
                <li><a href="#" data-content="Apply-from-abroad">Apply From Abroad(Outside of Eu)</a></li>
                <li><a href="#" data-content="Apply-from-malta">Living in Malta(Less than 1 Year)</a></li>
                <li><a href="#" data-content="more-than-a-year">Living in Malta(More than 1 Year)</a></li>
                <li><a href="#" data-content="fees">Fees</a></li>
            </ul>
        </div>

    <div class="right-column">
        <div id="what-is-skillcard" class="content-section">
            <h2>What is a Skillcard?</h2>
            <div>
            <p>The Skills Pass is a verification process initiated by the Government of Malta that allows skilled individuals in the Tourism and Hospitality sector to gain recognition for their skills and be able to work in Malta in this industry.
                The Skills Pass Process</p>
            <p>The verification process is split into two phases.</p>


            <h3>Phase One - Online Training and Assessment</h3>
            <p>Candidates will register on the online platform. Once registered they will be able to purchase the necessary online verification modules that will need to be completed in order to work in Malta. These include verification of their level of English, courses on hospitality, essential English and the Maltese tourism product as well as verification in their chosen field of work.</p>
           <p>
            Following registration, the candidate is invited to purchase the modules which include four mandatory modules and at least one occupation.</p>
        </p>
            <p>Candidates must pass all mandatory assessments, including:</p>
            <ul class="ul">
                <li>English Proficiency Test</li>
                <li>Basic Customer Care</li>
                <li>Basic Maltese Tourism Product Course</li>
                <li>Basic English for Hospitality Course</li>
            </ul>
            <p>Following successful completion of the mandatory assessments, the candidates proceed to the occupation selection. Candidates must select one occupation from the following options:</p>
            
            <ul class="ul">
                
                <li>Luggage Porter (Front Office)</li>
                <li>Receptionist (Front Office)</li>
                <li>Bar Waiter (Bar Staff)</li>
                <li>General Attendant (Housekeeping)</li>
                <li>Commis Chef (Kitchen Staff)</li>
                <li>Commis de Rang (Food Service Staff)</li>
                <li>Other (Answer one written question)</li>
            </ul>
        
            <p>Once candidate passes the mandatory and occupation assessments successfully, the candidates receive a Phase 1 Confirmation which confirms that the online assessment has been successfully finalised.</p>

            <h3>Phase Two - Online Interview via Video Conferencing</h3>
             <p>Upon successful completion of Phase 1, the candidate is invited to choose a time slot for the Online Interview.
                The assessor confirms the time slot within a week and the candidate shall receive confirmation and instructions via email upon confirmation.

                </p>
                <p>On the interview day, candidates from countries not in the EU or European Economic Area or European Free Trade Agreement that require a visa to enter Malta, are required to go to their nearest VFS Centre for their online interview.
                 On the other hand, candidates from non-EU or European Economic Area or European Free Trade Agreement countries that do not require a visa to enter Malta are to visit the Institute of Tourism Studies in Malta for the online interview.
                
             </p>
             <p> Upon successful completion of Phase 2, the candidate will then receive the permanent Skills Pass and will be able to work in the Hospitality and Tourism Sector in Malta.
</p>
<p>The verification processes will verify the minimum basic level required to work in the hospitality and tourism industry in Malta.</p>
<a href="https://skillspass.org.mt/registration">Apply Here</a>        
</div>
        </div>
        <div id="Apply-from-abroad" class="content-section" style="display: none;">
            <h2>How to Apply</h2>
            <div>
                <h3>Non-European Union- Still Abroad</h3>
<p>Any non-EU person that would like to work in the Hospitality and Tourism sector in Malta will need to have a Skills Pass. This process includes:
</p>
<h4>First Phase</h4>
<ul class="ul">
    <li>Online English Proficiency Test</li>
    <li>Online Basic Customer Care Course and Assessment</li>
    <li>Online Basic Maltese Tourism Product Course and Assessment</li>
    <li>Online Basic Essential English Course and Assessment</li>
    <h5>Online Skills Assessment for one of the following:</h5>
    <ul class="ul">
       
        <li>Food Service Staff</li>
        <li>Bar Service Staff</li>
        <li>Kitchen Staff</li>
        <li>Front Office Staff</li>
        <li>Housekeeping Staff</li>
    </ul>
</ul>
<p>Other: Any person applying for a job which is not included in the above job families will be subject to undergo the Skills Pass procedure but will be exempt from the online skills assessment.

</p>
    
<div class="phase2">
    <h4>Phase Two</h4> 
    <p>
    This phase consists of an Online Skills Verification Interview as follows:</p>

<p>Visa Exempt non-EU(currently in a EU Country)-Interview will be carried out at ITS Campus in Malta</p>
<p>Other non-EU (living outside of European Union) -Interview will be carried out via the various VFS Centres around the world.</p>
<p>Other Occupations: Those who have selected other as they do not fall within any job family will still have to undergo the skills verification interview, however it will include more general questions.</p>
<p>Upon successful completion of both Phase 1 Assessments and Phase 2 Skills Interview, the candidate shall obtain a Permanent Pass.
</p>
<p>
Each applicant has the right to do a 1st resit free of charge and a 2nd resit against payment for each of the online assessments. In the event than an applicant fails once again, they can redo the assessment following three months.
</p> 
 </div> 
<a href="https://skillspass.org.mt/registration">Apply Here</a>           
</div>
</div>

<div id="Apply-from-malta" class="content-section" style="display: none;">
    <div>
            <h3>Non-European Union- living In Malta </h3>
    <p>Any non-EU that is currently living in Malta and is working in the Tourism and Hospitality Sector will need to have a Skills Pass as from January 2025. This process includes</p>
    <h4>First Phase</h4>
    <ul class="ul">
        <li>Online English Proficiency Test</li>
        <li>Online Basic Customer Care Course and Assessment</li>
        <li>Online Basic Maltese Tourism Product Course and Assessment</li>
        <li>Online Basic Essential English Course and Assessment</li>
        <h5>Online Skills Assessment for one of the following:</h5>
        <ul class="ul">
            <li>Food Service Staff</li>
            <li>Bar Service Staff</li>
            <li>Kitchen Staff</li>
            <li>Front Office Staff</li>
            <li>Housekeeping Staff</li>
        </ul>
    </ul>
    
    <p>Other: Any person applying for a job which is not included in the above job families will be subject to undergo the Skills Pass procedure but will be exempt from the online skills assessment.
    
    </p>
        <h4>Phase Two -for only non-EU living in Malta for LESS THAN A YEAR</h4> <SPAN class="sub">(applying for first renewal of residency permit)</SPAN>
    <p>This phase consists of an Online Skills Verification Interview as follows:</p>
    
    <p>Visa Exempt non-EU(currently in a EU Country)-Interview will be carried out at ITS Campus in Malta</p>
    <p>Other non-EU (living outside of European Union) -Interview will be carried out via the various VFS Centres around the world.</p>
    <p>Other Occupations: Those who have selected other as they do not fall within any job family will still have to undergo the skills verification interview, however it will include more general questions.</p>
    <p>Upon successful completion of both Phase 1 Assessments and Phase 2 Skills Interview, the candidate shall obtain a Permanent Pass.
    </p>
    <p>
    Each applicant has the right to do a 1st resit free of charge and a 2nd resit against payment for each of the online assessments. In the event than an applicant fails once again, they can redo the assessment following three months.
    </p> 
    <H3>Fees- €455</H3> <span class="sub">(Phase 1 shall be available as from April 2024 but enforced as from January 2025)</span>
</div>
    <a href="https://skillspass.org.mt/registration">Apply Here</a>    
        </div>
        <div id="more-than-a-year" class="content-section" style="display: none;">
            <h2>Living In Malta More than a Year</h2>
            <p>Non-EU/EEA/EFTA (Switzerland) candidates living in Malta for more than a year (applying for second renewal onwards)
                 that successfully complete Phase 1 shall obtain a Permanent Pass without proceeding to Phase 2.</p>
                 <H3>Fees- €375</H3><span>(Phase 1 shall be available as from April 2024 but enforced as from January 2025)</span>
                 <a href="https://skillspass.org.mt/registration">Apply Here</a> 
                 </div>
    
        <div id="fees" class="content-section" style="display: none;">
            <h2>Fees</h2>
            <p>The fees associated with a Skillcard application are...</p>
            <div class="row fees">
                <div class="col1"><h4>Category</h4>
                <p>Still Abroad</p>
                <p>Living In Malta Less than a Year(First Renewal)</p>
                <p>Living In Malta More than a Year(Second Renewal)</p></div>
                <div class="col2"><h4>Start Date</h4>
                    <p>(Phase 1 shall be available as from April 2024 but enforced as from January 2025)</p>
                    <p>(Phase 1 shall be available as from April 2024 but enforced as from January 2025)</p>
                    <p>(Phase 1 shall be available as from April 2024 but enforced as from January 2025)</p></div>
                <div class="col3">
                    <h4>Fees</h4>
                    <p>€475</p>
                    <p>€455</p>
                    <p>€375</p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="footer">
        <p>&copy; 2024 Expats in Malta. All rights reserved.</p>
    </div>
</footer>
<script src="../javascript/skillcard.js"></script>
