
<% layout('layout/boilerplate') -%>
<% block('head').append('<link crossorigin="anonymous" rel="stylesheet" href="../stylesheet/styles.css">') %>

    <%- include('partials/navbar') %>
    <div class="container skillcard-container">
        <div class="left-column">
            <ul>
                <li><a href="#" data-content="What-is-a-Singlepermit">What is a Single permit?</a></li>
                <li><a href="#" data-content="Who-is-Eligible">Who is Eligible?</a></li>
                <li><a href="#" data-content="How-to-apply">How to apply</a></li>
                <li><a href="#" data-content="required-documents">Required Documents</a></li>
                <li><a href="#" data-content="processing-time">Processing Time</a></li>
                <li><a href="#" data-content="Renewal">Renewal</a></li>

                
            </ul>
        </div>

    <div class="right-column">
        <div id="What-is-a-Singlepermit" class="content-section">
            <h2>What is Single Permit</h2>
            <div>
            <p>The single permit is regulated by Subsidiary Legislation 217.17. It is a temporary-type permit which authorises third country nationals to legally
                 reside and take up employment in Malta for a defined period of over 6 months which may be further renewed. The single 
                 application procedure incorporates an employment license and residence permit.</p></div>
        </div>
        <div id="Who-is-Eligible" class="content-section" style="display: none;">
            <h2>Who is Eligible?</h2>
            <div>
                <p><i class="fa-solid fa-angles-right"></i>  Third-country nationals who receive a job offer from a company registered and operating in Malta are eligible to apply for a Single Permit that enables them to be employed in the job specified on the application. The employer must also be registered with Jobsplus.

                    <br><i class="fa-solid fa-angles-right"></i>Third-country nationals cannot directly submit an application for a single permit, but their prospective employer needs to apply online on their behalf.     
                    
                    <br><i class="fa-solid fa-angles-right"></i>The Expatriates Unit will only proceed with applications where at the time of application the third-country national is, either still in the country of residence (Still Abroad), or holds legal status in Malta, by means of a valid residence permit or Visa.
                    
                    Should it ensue, during the processing of the application, that the third-country national is not eligible as per the criteria of Subsidiary Legislation 217.17, the application will be refused with no recourse to refund.
                    
                    <br><i class="fa-solid fa-angles-right"></i>Persons who are residing in the Schengen area, including Malta, on the basis of being beneficiaries of a protection certificate (refugee, subsidiary, and temporary humanitarian protection), including those awaiting a decision on their immigration status, are not eligible to apply for a Single Permit.</p>        
</div>
            
        </div>
        <div id="How-to-apply" class="content-section" style="display: none;">
            <h2>How to apply</h2>
            <div>
            <p><i class="fa-solid fa-angles-right"></i>>Single Permit applications may only be submitted by the employer, in the capacity of the Maltese organisation entrusting the carrying out of specific employment to the non-EU national.

                <br><i class="fa-solid fa-angles-right"></i>Live-in carers may apply directly, provided that the application is endorsed by the employer.
               
                <br><i class="fa-solid fa-angles-right"></i>Employers may apply for a third-country national through the Single Permit Online Portal. Follow these guidelines to apply and gain access to the portal.
                
                <br><i class="fa-solid fa-angles-right"></i>Once access is approved by Identità, the employer can log into the Single Permit Online Portal. Guidelines to submit and manage existing applications can be found here.
                
                <br><i class="fa-solid fa-angles-right"></i>Once the employer submits an application, the third-country national receives a link to confirm the application and validate the data submitted. Once confirmation is submitted, the employer will receive a notification for the final submission of the application.
                
                <br><i class="fa-solid fa-angles-right"></i>Final submissions may only be done if the payment has been submitted online, by either the employer or the third-country national.
            </p>

                <h4>Applicable fee: €300</h4>
            </div>
        </div>
        <div id="required-documents" class="content-section" style="display: none;">
            <h2>Required Documents</h2>
            <h3>Guidelines on Required Documents</h3>
            <div>

            <p>The below are the most common documentation required for the submission of a Single Permit Application (including Renewals and Change of Employer).
                
                Some specific application types may include additional or different documentation.
                
                <br>Identità may also request additional supporting documentation in certain circumstances.
                <ul>
                    <li>Passport and a copy of the same full passport:
                
                        <br>Original passport must always be presented at Identità offices;
                        A copy of the whole passport in (.pdf) format, including blank pages must be presented;
                        Passport must be valid for at least eight (8) more months from the date of application;
                        Visa on passport (Schengen or other) is valid for at least the application period.
                    </li>
                    <li>CV is to be provided in the Europass CV Format - https://europa.eu/europass/en/create-europass-cv
                        CV must be signed by the non-EU national.</li>
                    <li>Insurance Policy:Must be a comprehensive insurance policy and valid for at least one (1) year.</li>
                    <li>Health Screening:
                
                        Some non-EU Nationals might require a health screening certificate. The updated criteria and requirements for first-time applicants may be found on: https://hpdp.gov.mt/idcu/work_permits_for_first_time_applicants ;
                        The requirements for subsequent renewals can be found on: https://hpdp.gov.mt/idcu/health_screening_for_renewal_of_work_permit ;
                        The document required by Identità is the final health approval certificate issued by health authorities after the tests have been carried out. Proof of application only is not sufficient for the purpose of a single permit application.
                        </li>
                    <li>Employment Contract:
                
                        A copy of the original has to be submitted and presented;
                        Document must be signed by both employer and the non-EU national applying for the Single permit;
                        Position of employment must be the same in all the submitted documentation.
                    </li>
                    <li>Declaration of Posting:
                        Applicable where employer is classified by Jobsplus as a Temping Agency.
                        (Jobsplus) Declaration of Suitability:
                        
                        https://jobsplus.gov.mt/resources/fileprovider.aspx?fileId=4374;
                        Must be wholly filled out and signed by employer;</li>
                
                </ul>
                
            </p>
                <h4>For Recruitment applications only, where reason is:</h4>
                <p>Academic certification – certificates;
                <br>Reference letters – include e-mail contact address to all referees.
                <br>Position Description:
                
                https://jobsplus.gov.mt/resources/fileprovider.aspx?fileId=57263;
                Must be filled out and signed by both employer and applicant.
                Proof of Advertisement:
                
                <br>Advertisement is not older than six (6) months from the date of application.
                <br>Qualifications of the applicant (Non-EU National):
                
                <br>All qualification certificates are to be accompanied with the recognition from the Malta Qualifications Recognition and Information Centre (MQRIC). Should the recognition by MQRIC still be pending, their receipt is to be attached instead.
                <br>Accommodation agreement (Lease or Rent):
                
                <br>An original contract is to be presented with the original signatures of both landlord and tenant;
                Details of landlord and tenant on the contract should include name, ID card number, and the rent address;
                The contract is to be accompanied by the Declaration by Landlord form;
                If Landlord is not Maltese, a purchase agreement of the same premises needs to be presented;
                Contract must not have details crossed off in pen or white-out and written over.
                Housing Authority Approval Letter:
                
                A copy of the approval letter issued by the Housing Authority for the registration of property as a rental as per Cap. 604 of Maltese legislation.</p>
            </div>
        </div>
        <div id="processing-time" class="content-section" style="display: none;">
            <h2>Processing Time</h2>
            <div>
            <p><i class="fa-solid fa-angles-right"></i>Employers have the facility to view and modify all submitted applications from the Single Permit Online Portal. 
                <br><i class="fa-solid fa-angles-right"></i>The real-time status of an application is visible from the application dashboard. The meaning of each status can be found in the section Online Portal-Status Description within the User Manual.

                <br><i class="fa-solid fa-angles-right"></i>Third-country nationals, on whose behalf an application is submitted, may also view the status of their own application by following the same link they had received by e-mail.
                
                <br><i class="fa-solid fa-angles-right"></i>Subsidiary Legislation 217.17 allows four (4) months for the processing of a Single Permit application, however the average processing time is closer to two (2) months, from the date of submission of applications accompanied by all required documents</p>
        </div>
    </div>
        
        <div id="Renewal" class="content-section" style="display: none;">
            <h2>Renewal</h2>
            <div>
            <p><i class="fa-solid fa-angles-right"></i>The single permit is generally renewed annually, and the administrative process follows the same single permit procedure.

                <br><i class="fa-solid fa-angles-right"></i>Renewal of applications may only be submitted while their current permit is still valid. If a renewal application is not submitted before the expiry date of the previous, the third-country national may fall in an irregular migration status and would be in violation of the Immigration Act (Cap. 217) of the Laws of Malta.
                
                <br><i class="fa-solid fa-angles-right"></i>To allow sufficient processing time, the renewal process should start 90 days from the date of expiry. If the third-country national renewing the permit requires a health screening, as specified by the Maltese Public Health Authorities, application can only be submitted 30 days prior to expiry.
                
                <br><i class="fa-solid fa-angles-right"></i>The updated version of Health screening requirements for single permit renewals may be found on: https://hpdp.gov.mt/idcu/health_screening_for_renewal_of_work_permit.
            </p>
                <h4>Applicable fee: €300.</h4>
        </div>
    </div>
    </div>
</div>
<footer>
    <div class="footer">
        <p>&copy; 2024 Expats in Malta. All rights reserved.</p>
    </div>
</footer>
<script src="../javascript/skillcard.js"></script>
